<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tw.com.temirobot">
    <!-- 錄音和寫硬碟權限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TemiRobot"
        tools:targetApi="31">
        <activity
            android:name=".Welcome2"
            android:exported="false" />
        <activity
            android:name=".FaceRecognition2"
            android:exported="false" />
        <activity
            android:name=".Regis2"
            android:exported="false" />
        <activity
            android:name=".EquipmenTeaching"
            android:exported="false" />
        <activity
            android:name=".Patrol"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".Regis"
            android:exported="false" />
        <activity
            android:name=".Todolist"
            android:exported="false" />
        <activity
            android:name=".Todo"
            android:exported="false" />
        <activity
            android:name=".FaceRecognition"
            android:exported="false" />
        <activity
            android:name=".Game"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- TEMI SDK -->
        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="@string/app_name" /> <!-- TEMI Make App running on the Home Page -->
        <meta-data
            android:name="com.robotemi.sdk.metadata.KIOSK"
            android:value="true" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
    </application>

</manifest>